.card {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  padding: 0.2%;
}
.formStyle {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 10px 10px lightgrey;
  padding: 1%;
}
